* {
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  background-image: url("../../assets/header_image.jpg");
  background-position: center;
  background-size: cover;
  height: 400px;
  .heading{
    padding-top: 75px;
    font-weight: bold;
    text-align: center;
    font-size: 56px;
  }
}

.mainContainer{
    width:90%;
    margin:48px auto;
}

.instruction {
  text-align: center;
  font-size: 20px;
}

.submitBtn_wrapper{
  display: flex;
  justify-content: center;
  margin: 48px auto;
  .submitButton {
    font-size: 20px;
    letter-spacing: 0.2rem;
  }
}

.btn{
  border:2px solid black;
  background-color: #1477EC;
  box-shadow: 5px 5px #888888;
  font-weight: bold;
  color: white;
  padding: 0.5rem 3rem;
  &:hover {
    background-color: #4f96ec;
  }
}

.bold {
  font-weight: bold;
}

.black {
  background-color: red !important;
  filter: saturate(70%);
}

.listContainer{
  padding-top: 50px;
  .itemCard{
    cursor: pointer;
    padding: 30px;
    width: 90%;
    border-radius: 20px;
    background-color: #F8F2F2;
    box-shadow: 5px 5px blue;
    margin:0 auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    .itemInfo{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 0.5rem;
      height: 100%;
      .claimMessage {
        color: #F40909 !important;
      }
      .itemName{
        font-size: 2.4rem;
        font-weight: bold;
      }
    }
    .descWrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 3rem;
    }
    .card-desc {
      margin-bottom: 24px;
      text-align: left;
      font-size: 18px;
    }

    .contactBtn_wrapper {
      margin-bottom: 24px;
    }

    .card-image img {
      width: 100%;
      object-fit: cover;
    }

    .title {
      img {
        width: 30%;
      }
      .title_text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .locationDate {
          display: flex;
          justify-content: space-between;
        }
      }
    }
    .Btn_wrapper {
      margin: 2.4rem 0;
      display: flex;
      justify-content: center;
      .claimBtn {
        background-color: #F40909;
        margin-right: 2rem;
        &:hover {
          background-color: #ee7171;
        }
      }

    }
  }
  .itemCard:hover{
    border: 3px solid blue;
  }
}

@media screen and (min-width: 576px) {
  .listContainer {
    .itemCard{
      width:80%;
      .card-image img {
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: 992px){
  .listContainer {
    .itemCard{
      width:70%;
      .card-image img {
        width: 300px;
        height: 300px;
        object-fit: cover;
      }
    }
  }
}


